name: Python application
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v3
    - name: definir variable
      run: echo "USERNAME=${{ inputs.actor }}" >> $GITHUB_ENV
    - name: script-runing
      run: python hello_world.py
